<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <div id="wrapper">
            <% if (loggedIn) { %>
                <%- include('../partials/header') %>
                    <%- include('../partials/navigation') %>
                        <% } %>

                            <main>
                                <%- body %>
                            </main>

                            <% if (loggedIn) { %>
                                <%- include('../partials/footer') %>
                                    <% } %>
        </div>
    </body>

</html>